body {
	padding-top: 70px;
	background: url(quad.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

input, textarea {
	max-width: 100%;
}

#myBtn {
	margin: 10px;
}

#myBtn2 {
	margin: 10px;
}

.prob {
	margin: 10px;
}

.profiles{
	padding: 10px;
}

.dropdown-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.ticket {
	background-color: #ddd;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.main-content {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	padding: 20px;
}

.jumbotron {
	background-color: #98abe1;
}

footer {
	padding-top: 10px;
	text-align: center;
}