@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body {
	padding-top: 70px;
	background: url(quad.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}

input, textarea {
	max-width: 100%;
}

#myBtn {
	margin: 10px;
}

#myBtn2 {
	margin: 10px;
}

.prob {
	margin: 10px;
}

.profiles{
	padding: 10px;
}

.dropdown-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.ticket {
	background-color: #ddd;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.main-content {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.jumbotron {
	background-color: #98abe1;
}

footer {
	padding-top: 10px;
	text-align: center;
}

#feedback-rating {
	border: none;
	font-weight: bolder;
}

#feedback-slider .ui-slider-range {
	background: #98abe1;
}

input.feedback-ticket-id {
	display: none;
}